.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.stationName {
  line-height: 1.36rem;
  font-size: 18px;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.collection {
  position: relative;
  left: 11px;
  top: 9px;
  width: 1rem;
  min-width: 36px;
  padding: 3px 5px;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0 0 4px rgba(0,0,100,.6);
  background-color: #fff;
  cursor: pointer;
  .fa-star {
    display: block;
    text-align: center;
    color: #fcd94c;
    font-size: 0.83rem;
  }
  .collectionList {
    position: absolute;
    left: 100%;
    top: 0;
    width: 8rem;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    transform: translateX(5px);
    border: 1px solid #ccc;
    border-radius: 5px;
    &:before {
      content: "";
      display: inline-block;
      border: 5px solid transparent;
      border-right-color: #ccc;
      position: absolute;
      top: 10px;
      left: -11px;
    }
  }
  .collectionListItem {
    padding: 7px 6px;
    border-bottom: 1px solid #dddddd;
  }
}